@media screen and (max-width: 1024px) {
    .headContent {
        width: 500px;
    }
    h1 {
        font-size: 100pt;
    }
    p.headText {
        font-size: 13pt;
    }
    button.btnHead {
        width: 150px;
        height: 50px;
        margin: 0 auto;
        margin-top: 50px;
        border: none;
        background-color: #15a4fa;
        color: #fff;
        font-size: 13pt;
        border-radius: 7px;
    }
    span.headOne {
        font-size: 18pt;
        letter-spacing: 1px;
    }
    p.artOneText {
        font-size: 13pt;
    }
    .artTwoBlock img {
        width: 28%;
        height: 38%;
        margin: 0 auto;
    }
    .headArtTwo {
        margin: 15px 0;
        font-size: 18pt;
    }
    .textArtTwo {
        font-size: 13pt;
    }
    .artThree {
        padding: 3% 1%;
        text-align: center;
    }
    .artThreeOne {
        margin-bottom: 5%;
    }
    .blockThree {
        width: 60%;
        height: 60%;
    }
    .blockThree img {
        width: 90%;
        height: 90%;
    }
    .power {
        width: 90%;
        height: 218px;
        margin-left: 5%;
    }
    .links {
        line-height: 218px;
    }
    .artFour {
        padding: 3% 25%;
    }
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 80pt;
    }
    .artTwoBlock img {
        width: 28%;
        height: 38%;
        margin: 0 auto;
    }
    .headArtTwo {
        margin: 10px 0;
        font-size: 15pt;
    }
    .textArtTwo {
        font-size: 11pt;
    }   
    h2 {
        font-size: 20pt;
    }
    .gray {
        font-size: 13pt;
    }
    .blockThree {
        width: 60%;
        height: 60%;
    }
    .blockThree img {
        width: 90%;
        height: 90%;
    }
    .power {
        width: 90%;
        height: 170px;
        margin-left: 5%;
    }
    .links {
        line-height: 170px;
    }
    .links a {    
        font-size: 15pt;
        padding: 8px 13px;
    }
    .artFour {
        padding: 3% 20%;
    }
}
@media screen and (max-width: 480px) {
    .headContent {
        width: 430px;
    }
    h1 {
        font-size: 70pt;
    }
    p.headText {
        font-size: 11pt;
    }
    button.btnHead {
        width: 130px;
        height: 40px;
        margin: 0 auto;
        margin-top: 40px;
        border: none;
        background-color: #15a4fa;
        color: #fff;
        font-size: 12pt;
        border-radius: 7px;
    }
    .artOne {
        padding: 3% 5%;
    }
   .artTwo {
       flex-direction: column;
   }
   .artTwoBlock {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 20%;
    
    }
    .wrapImage {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-content: space-between;
        align-items: center;
    }
    .blockThree {
        width: 360px;
        height: 260px;
    }
    .power {
        width: 90%;
        height: 234px;
        margin-left: 5%;
    }
    .links {
        line-height: 234px;
    }
    .artFour {
        padding: 3% 5%;
    }
}
@media screen and (max-width: 320px) {
    .headContent {
        width: 300px;
    }
    h1 {
        font-size: 60pt;
    }
    p.headText {
        font-size: 11pt;
    }
    .artOne {
        padding: 3% 0;
    }
    h2 {
        font-size: 15pt;
    }
    .gray {
        font-size: 11pt;
    }
   .artTwo {
       flex-direction: column;
   }
   .artTwoBlock {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10%;
    
    }
    .wrapImage {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-content: space-between;
        align-items: center;
    }
    .blockThree {
        width: 360px;
        height: 260px;
        margin-bottom: -10px;
    }
    .power {
        width: 90%;
        height: 234px;
        margin-left: 5%;
    }
    .links {
        line-height: 234px;
    }
    .artFour {
        padding: 3% 5%;
    }
    h3 {
        font-size: 30pt;
    }
    .check {
        font-size: 13pt;
    }
    .btnSend {
        font-size:  13pt;
        padding: 5px 10px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    .copy {
        margin-bottom: -15px;
    }
}